{% extends 'base.html.twig' %}
{% block title %} {{ headtitle }} {% endblock %}
{% block body %}
{{ include('navigation.html.twig') }}
<div class="card p-3 m-3 text-secondary">
    <div class="text-center"><img src="../bundles/lima/assets/images/erreur_403.png" width="980px" title="Erreur 403" alt="erreur_403.png"></div>
</div>
{% endblock %}