<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {{ headtitle }} {% endblock %}</title>
      {% block stylesheets %}
        <!-- Styles CSS -->
        <link rel="shortcut icon" href="../bundles/lima/assets/images/araignee.ico" />
 		    <link rel="stylesheet" href="../bundles/lima/assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../bundles/lima/assets/css//sb_admin.css" />
        <link rel="stylesheet" href="../bundles/lima/assets/css/custom-lima.css" />
        <!-- Styles CSS -->
      {% endblock %}
      {% block javascripts %}
      <!-- Jquery && Bootstrap -->    
        <script src="../bundles/lima/assets/js/jquery.min.js"></script>
        <script src="../bundles/lima/assets/js/popper.min.js"></script>
        <script src="../bundles/lima/assets/js/bootstrap.min.js"></script>
        <script src="../bundles/lima/assets/js/easyTable.js"></script>
        <script src="../bundles/lima/assets/js/paginathing.js"></script>
      <!-- Jquery && Bootstrap -->
      {% endblock %}
    </head>
<body> 
	<!-- Page Wrapper -->
  	<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-lima sidebar sidebar-dark accordion" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="./" title="Accueil">
        <div class="sidebar-brand-text mx-3">
			<img src="../bundles/lima/assets/images/lima.png" class="d-inline-block align-top" width="124px" alt="lima.png">
		</div>
      </a>

    {% if driver is not empty %}
    <hr class="sidebar-divider my-0">
    <!-- Accueil -->
      <li class="nav-item active">
          <a class="nav-link" href="./" title="Accueil"><span>Accueil</span></a>
      </li>
    <!-- Accueil -->
    <hr class="sidebar-divider my-0">
    <!-- Connexion -->
    <li class="nav-item active">
          <a class="nav-link" href="connexion" title="Changer de serveur SQL" data-toggle="modal" data-target="#connexionModal"><span>Serveur SQL</span></a>
    </li>
    <!-- Connexion -->
    <hr class="sidebar-divider my-0">
    {% else %}
      <li class="nav-item active"><a class="nav-link" href=""></a><span>&nbsp;</span></li>
    {% endif %}

    </ul>
    <!-- Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-lima topbar mb-4 static-top shadow">
          <ul class="navbar-nav ml-auto">         
            <!-- User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2">Back-office LIMA</span>
              </a>

            {% if driver is empty %}
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="./"><i class="mr-2 text-gray-400"></i>Accueil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="connexion" data-toggle="modal" data-target="#connexionModal"><i class="mr-2 text-gray-400"></i>Serveur SQL</a>             
              </div>
            {% endif %}

            </li>
			      <!-- User Information -->
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Content -->
        <div class="container-fluid">

			<!-- Page Heading -->
		  {% if titre is defined %}
			  <h1 class="h6 mb-0 text-gray-900">
          <a href="" title="Accueil">DASHBOARD</a> - {{ titre | upper }}
        </h1>
      {% endif %} 
			<!-- Page Heading -->

			<!-- Page Content Row -->
				{% block content %}{{ include('_flashes.html.twig') }}{% endblock %}                   
    			{% block body %}{% endblock %}
			<!-- Page Content Row -->

        </div>
        <!-- Content -->

    </div>
    <!-- Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-light mb-4">
        <div class="container my-auto">
			<div class="text-secondary small text-center py-3">© Light Interface Maker Application - Développé et maintenu par Yanick MORZA - {{ "now"|date("Y") }}</div>
        </div>
      </footer>
      <!-- Footer -->

    </div>
    <!-- Content Wrapper -->

  </div>
  <!-- Page Wrapper -->

	<!-- Logout Modal-->
	<div class="modal fade" id="connexionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Prêt à partir ?</h5>
			<button class="close" type="button" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
			</button>
			</div>
			<div class="modal-body">Sélectionnez « Nouvelle connexion » ci-dessous si vous souhaitez changer de serveur SQL.</div>
			<div class="modal-footer">
			<button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
			<a class="btn btn-primary" href="connexion">Nouvelle connexion</a>
			</div>
		</div>
		</div>
	</div>
	<!-- Logout Modal-->

    </body>
</html>