<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ headtitle }}{% endblock %}</title>
        {% block stylesheets %}
          <!-- Styles CSS -->
          <link rel="shortcut icon" href="../bundles/lima/assets/images/araignee.ico"/>
          <link rel="stylesheet" href="../bundles/lima/assets/css/bootstrap.min.css"/>
          <link rel="stylesheet" href="../bundles/lima/assets/css/dataTables.bootstrap4.css"/>
          <link rel="stylesheet" href="../bundles/lima/assets/css/custom-lima.css"/>
          <!-- Styles CSS -->
        {% endblock %}
    </head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-lima static-top">
    <div class="container-fluid">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="" title="Accueil">
				<div class="sidebar-brand-text mx-3">
					<img src="../bundles/lima/assets/images/lima.png" class="d-inline-block align-top" width="124px" alt="lima.png">
				</div>
			</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle text-white" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2">BACK-OFFICE</span>
              </a>

            {% if driver is empty %}
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="./"><i class="mr-2 text-gray-400"></i>Accueil</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="connexion"><i class="mr-2 text-gray-400"></i>Déconnexion</a>             
              </div>
            {% endif %}

          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid bg-light">

    {% block content %}{{ include('_flashes.html.twig') }}{% endblock %}                   
    {% block body %}{% endblock %}
    {% block javascripts %}
      <!-- Jquery && Bootstrap -->
      <script src="../bundles/lima/assets/js/jquery.min.js"></script>
      <script src="../bundles/lima/assets/js/jquery.dataTables.min.js"></script>
      <script src="../bundles/lima/assets/js/dataTables.bootstrap4.min.js"></script>
      <script src="../bundles/lima/assets/js/bootstrap.bundle.min.js"></script>
      <script src="../bundles/lima/assets/js/jquery.easing.min.js"></script>
      <script src="../bundles/lima/assets/js/datatables-lima.js"></script>
      <!-- Jquery && Bootstrap -->
    {% endblock %}

    <footer class="sticky-footer bg-light mb-4">
			<div class="text-secondary small text-center">© Light Interface Maker Application - Développé et maintenu par Yanick MORZA - {{ "now"|date("Y") }}</div>
		</footer>

  </div>

</body>
</html>