<ul class="nav nav-tabs card-header list-group-item-light">
    <li class="nav-item">
        <a class="nav-link active" href="basesettables">Bases de données - Tables</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="genereruncrud">Générer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="supprimeruncrud">Supprimer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="genererunerelation">Relation</a>
    </li>
    {# <li class="nav-item">
        <a class="nav-link active" href="authsecurite">Authentification - Sécurité</a>
    </li> #}
    <li class="nav-item">
        <a class="nav-link active" href="console">Console</a>
    </li>
    {# <li class="nav-item">
        <a class="nav-link active" href="swiftmailer">Swiftmailer</a>
    </li> #}
    <li class="nav-item">
        <a class="nav-link active" href="uploader">Uploader</a>
    </li>
</ul>
