<ul class="nav nav-tabs card-header list-group-item-light">
    <li class="nav-item">
        <a class="nav-link active alert-link" href="basesettables">Bases de données - Tables</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active alert-link" href="genereruncrud">Générer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active alert-link" href="supprimeruncrud">Supprimer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active alert-link" href="genererunerelation">Relation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active alert-link" href="authsecurite">Authentification - Sécurité</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active alert-link" href="console">Console</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active alert-link" href="swiftmailer">Swiftmailer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active alert-link" href="uploader">Uploader</a>
    </li>
</ul>
